@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply text-white cursor-pointer bg-indigo-600 hover:bg-indigo-700 rounded-lg 
    transition-all duration-300 ease-in-out;
  }
  .btn-secondary {
    @apply cursor-pointer rounded-lg border-1 border-gray-400;
  }
  .input-field {
    @apply w-full rounded-lg border-1 border-indigo-600 outline-none;
  }
  .appLayout {
    @apply mt-4 flex justify-between h-[calc(100vh-130px)] items-stretch;
  }
  .sidebar {
    @apply flex justify-center w-[50%] pr-4 overflow-y-scroll;
  }
  .footer-text {
    @apply hover:text-white my-4 transition-all duration-300 ease-in-out;
  }
}

:root {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  --bg-color: #f3f4f6;
  --text-700: #374151;
  --text-400: #94a3b8;
  --text-500: #64748b;
  --text-100: #f1f5f9;
  --text-300: #d1d5db;
  --white: #fff;
  --primary-700: #4338ca;
  --primary-600: #4f46e5;
  --primary-100: #e0e7ff;
  --rose-500: #f43f5e;
}

